# Server Configuration
PORT=3000
JWT_SECRET=your_super_safe_secret_key_change_in_production

# Email Configuration (SMTP)
# Using Gmail? Generate App Password: https://myaccount.google.com/apppasswords
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email
SMTP_PASS=your app code
EMAIL_FROM="Sol-1 Platform <sahipranav222@gmail.com>"

# Groq API Configuration
#Generate your API key from https://console.groq.com/api-keys
GROQ_API_KEY=your-groq-code
GROQ_MODEL=llama-3.3-70b-versatile